    {% extends 'base.html.twig' %}

    {% block body %}
        <div class="banner-wrapper-area">
            <div class="container">
                <div class="row">
                    <div data-aos="fade-up" data-aos-duration="1600" class="col-lg-6 col-md-12 aos-init aos-animate">
                        <div class="banner-wrapper-content">
                            <h1>Bienvenue sur notre site web de Formation.</h1>
                            <p>Que vous soyez novice ou expérimenté, notre équipe d'experts dédiés est là pour vous guider à travers des programmes de formation personnalisés. Nous croyons en l'autonomisation de nos employés, car votre succès contribue à l'épanouissement de notre entreprise.</p>
                            <p>Rejoignez-nous dans cette aventure d'apprentissage, où l'excellence devient une habitude. Ensemble, façonnons un avenir professionnel brillant grâce à une formation de qualité et à des opportunités d'avancement bien méritées.</p>
                        </div>
                    </div>

                    <div data-aos="fade-up" data-aos-duration="2400" class="col-lg-6 col-md-12 aos-init aos-animate">
                        <div class="banner-wrapper-image">
                            <img src="https://templates.mhrtheme.com/varsity/img/about/about-1.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>{% endblock %}


